.container {
  display: flex;
  align-items: center;
}

.about-section {
  display: flex;
  align-items: center;
  margin-right: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.text-section {
  flex: 1;
  margin-left: 20px;
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.about-section h1 {
  margin-left: 20px;
}

.round-image {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  border: 5px solid #fff;
  box-shadow: 0 0 0 5px #00ae06;
  transition: all 0.3s ease-in-out;
  object-fit: cover;
  margin-left: 50px;
}

.circle1, .circle2 {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 5px solid #00ae06;
  box-sizing: border-box;
  animation: rotate 3s linear infinite;
}

.circle1 {
  border-color: #00ae06 transparent transparent transparent;
  z-index: -1;
}

.circle2 {
  border-color: transparent transparent #00ae06 transparent;
  z-index: -2;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}